<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.campus_second_hand_trading_platform.dao.mapper.AddressMapper">
    <select id="getAddress" resultType="com.example.campus_second_hand_trading_platform.dao.entity.Address">
        select * from address where user_id=#{id} and flag=0
    </select>
</mapper>
