<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.campus_second_hand_trading_platform.dao.mapper.CommentMapper">
    <resultMap id="CommentVoMap" type="com.example.campus_second_hand_trading_platform.domain.vo.CommentVo">
        <id property="id" column="id"/>
        <result property="user_id" column="user_id"/>
        <result property="user_name" column="user_name"/>
        <result property="img" column="img"/>
        <result property="product_id" column="product_id"/>
        <result property="product_name" column="product_name"/>
        <result property="content" column="content"/>
        <result property="star" column="star"/>
        <result property="time" column="time"/>
    </resultMap>
    <select id="GetListByUser" resultMap="CommentVoMap">
        select c.*,p.name as product_name,u.* from comment c
            join product p on p.id = c.product_id
            join user u on u.id = c.user_id
        where c.user_id = #{id}
    </select>
    <select id="GetListByPD" resultMap="CommentVoMap">
        select c.*,p.name as product_name,u.* from comment c
                          join product p on p.id = c.product_id
                          join user u on u.id = c.user_id
        where c.product_id = #{id}
    </select>
    <select id="GetPersonCommentA" resultMap="CommentVoMap">
        select e.id as id,
               e.commenter as user_id,
               user_name,
               u.img as img,
               product_id,
               p.name as product_name,
               e.content as content,
               e.star as star,
               e.time as time
            from evaluate e
            join user u on e.commenter = u.id
            join product p on p.id = e.product_id
        where e.commenter = #{id}
    </select>
    <select id="GetPersonCommentB" resultMap="CommentVoMap">
        select e.id as id,
               e.commenter as user_id,
               user_name,
               u.img as img,
               product_id,
               p.name as product_name,
               e.content as content,
               e.star as star,
               e.time as time
        from evaluate e
                 join user u on e.commenter = u.id
                 join product p on p.id = e.product_id
        where e.commentee = #{id}
    </select>
    <select id="GetCommentByOrder" resultMap="CommentVoMap">
        select c.*,p.name as product_name,u.* from comment c
                                                       join product p on p.id = c.product_id
                                                       join user u on u.id = c.user_id
        where c.user_id = #{user_id} and c.product_id = #{product_id}
    </select>
</mapper>
